.section_containter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.section_title {
  font-size: 30px;
  font-weight: 700;
  font-family: var(--font-unna);
  color: #343434;
}

.title_border {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.celebs_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.celebs1row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.celeb1_container {
  width: 250px;
  height: 230px;
}

.celebs2row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.celeb2_container {
  width: 350px;
}

.celeb_image {
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10%;
}

.celeb_image:hover {
  transform: scale(1.005);
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .section_containter {
    margin-top: 20px;
  }

  .section_title {
    text-align: center;
  }

  .celeb1_container {
    width: 80px;
    height: 80px;
  }

  .celeb1_container img {
    width: 70px;
    height: 70px;
  }

  .celebs1row {
    height: 50px;
    margin-bottom: 2px;
  }

  .celeb2_container {
    width: 100px;
    height: 100px;
  }

  .celeb2_container img {
    width: 100px;
    height: 100px;
  }

  .celeb1_container {
    margin-bottom: 50px;
  }

  .celebs2row {
    height: 100px;
  }

  .celeb2_container {
    margin-bottom: 50px;
  }
}