.filter_container {
  height: 100%;
  width: 400px;
  position: sticky;
  top: 15%;
}

.filter_options_wrapper {
  margin: 14px;
}

.filter_options {
  height: 100%;
  overflow-y: scroll;
}

.filter_options li {
  list-style: none;
}

.filter_options a {
  display: flex;
  gap: 4px;
  align-items: baseline;
  text-decoration: none;
  color: #000;
}

.filter_options a p {
  margin-bottom: 8px;
}