.filter_container {
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  border: 1px solid blue;
}

.filter_options {
  position: fixed;
  left: 10px;
}