:root {
  --text-color: #343434;
  --link-color: #3B823E;
  --background-color: #e2e0e0;
  --background-button-color: #3B823E;
  --background-button-hover-color: #2f6832;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 1px solid red;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  font-family: 'OpenSans', sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--background-color);
}
::-webkit-scrollbar-thumb {
  background: var(--background-button-color);
}