:root {
  --text-color: #343434;
  --link-color: #3B823E;
  --background-color: #e2e0e0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
}