.hamburguer {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: red;
}

.hamburguerIsOpen .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburguerIsOpen .bar:nth-child(2) {
  opacity: 0;
}
.hamburguerIsOpen .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.hamburguerNavOpen {
  position: fixed;
  top: 110px;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: #4b9c4f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: fadeTopToBottom 0.5s ease-in-out;
}

@keyframes fadeTopToBottom {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media(max-width: 768px) {
  .hamburguer {
    display: block;
  }
}