.header_wrapper {
  position: sticky;
  top: 0;
  max-width: 100%;
  z-index: 99;
}

.mini_header {
  background-color: #01370C;
  font-weight: 400;
  font-size: 16px;
  color: #F0EAD2;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20px;
  height: 80px;
  background-color: var(--background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #343434;
}

.header_logo {
  cursor: pointer;
}

.ul_container {
  display: flex;
  align-items: center;
  gap: 56px;
}

.ul_container li {
  list-style: none;
  cursor: pointer;
}

.ul_container li:hover a {
  border-bottom: 2px solid #3B823E;
}

.ul_container li:first-child a {
  color: #3B823E;
}

.ul_container li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  font-size: 18px;
}

.search_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #343434;
  border-radius: 5px;
  padding: 0 10px;
  height: 40px;
}

.search_wrapper:hover {
  border: 1px solid #3B823E;
}

.search_wrapper:focus-within {
  border: 1px solid #3B823E;
}

.search_wrapper input {
  all: unset;
}

.search_wrapper input::placeholder {
  color: #343434;
}

.infos {
  display: flex;
  align-items: center;
}

.infos svg {
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
}

.infos svg:hover {
  color: #3B823E;
  background-color: #F0EAD2;
  border-radius: 50%;
}

.cart_notification_wrapper {
  display: flex;
  position: absolute;
  gap: 44px;
}

.cart_notification {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  position: relative;
  top: -7px;
  left: 95px;
}

.cart_notification_animated {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  position: relative;
  top: -7px;
  left: 95px;
  animation: notification-fade-in 0.1s forwards;
}

.cart_total {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  margin-top: 2px;
  color: #F0EAD2;
}

@keyframes notification-fade-in {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .header_container {
    padding: 0px;
    justify-content: flex-start;
    gap: 24px;
    width: 100%;
  }

  .cart_notification_wrapper {
    gap: 10px;
  }

  .cart_notification {
    left: 60px;
  }

  .ul_container {
    display: none;
  }

  .infos {
    gap: 4px;
  }

  .infos > svg {
    display: none;
  }

  .search_wrapper {
    display: none;
  }
}